<div class="header">
    <span class="title">Sorting Visualiser</span>
    <span class="info">Tim Honermann</span>
</div>

<div class="container">
    <div class="sub-header">
        <mat-form-field>
            <mat-label>Sorting Algorithm:</mat-label>
            <mat-select [(ngModel)]="selectedSortingAlgorithm" (selectionChange)="setSortingAlgorithm()" >
                <mat-option *ngFor="let key of sortingAlgorithmKeys"
                            [value]="key">
                    {{ sortingAlgorithms[key] }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="button-container">
            <button mat-raised-button color="primary"  [disabled]="sortingState !== 1" (click)="startSorting()">Sort</button>
            <div class="divider"></div>
            <button mat-raised-button color="accent" (click)="generateRandomArray()">Refresh</button>
        </div>
    </div>
    <div class="array-container">
        <div *ngFor="let value of array; let i = index"
             class="array-bar"
             [ngStyle]="getArrayBarStyle()"
             [style.width.px]="value">
        </div>
    </div>
</div>
